<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog</title>
  <link rel="stylesheet" href="/styles/main.css">
  <!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
</head>

<body>
  <div class="container">
    <h1>Sesame's Blog</h1>
    <a id="newPostBtn" href="/new">New Post</a>
    <ul id="postsList">
      <% posts.forEach(post=> { %>
        <li>
          <h2>
            <%=post.title%>
          </h2>
          <small>
            <%=post.date %>
          </small>
          <p>
            <%=post.content%>
          </p>
          <small>By: <%=post.author%> </small>
          <a class="edit" href="/edit/<%= post.id %>">Edit</a>
          <a class="delete" data-path="/api/posts/delete/<%= post.id %>">Delete</a>
        </li>
        <% }); %>
    </ul>
  </div>
<%- include ("paging.ejs") %>

<script>
  const DelButtons =  document.querySelectorAll('a.delete');
  const numOfDelButtons =  DelButtons.length;

  for (var i=0; i<numOfDelButtons; i++) {
    delADDR = DelButtons[i].getAttribute('data-path');
    DelButtons[i].addEventListener('click', function () {
      const confirmed = confirm('Are you sure you want to delete?');

      if (confirmed) {
        alert('Post deleted');
        window.location.href = delADDR;
      } 
    });
  }

</script>
</body>

</html>